body {
  justify-content: center;
  display: flex;
  height: 100vh;
  margin-top: 50px;
  margin-left:100px;
  font-size: 17px;
  color: #4B4D54;
  overflow: hidden;
  font-family: ui-sans-serif, system-ui, sans-serif;
  line-height: 3rem;
}

.dropdown {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,.1);
  background-color: white;
  margin-left: 20px;
  margin-right: 100px;
}

.dropdown-header {
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-body {
  padding: 5px;
  border-top: 1px solid #E5E8EC;
  display: none;
}

.dropdown-body.open {
  display: block;
}

.dropdown-item {
  padding: 10px;
}

.dropdown-item:hover {
  cursor: pointer;
}

.dropdown-item-dot {
  opacity: 0;
  color: #91A5BE;
  transition: all .2s ease-in-out;
}

.dropdown-item-dot.selected {
  opacity: 1;
}

.icon {
  font-size: 13px;
  color: #91A5BE;
  transform: rotate(0deg);
  transition: all .2s ease-in-out;
}

.icon.open {
  transform: rotate(90deg);
}
.start {
    border-width:1;
    border-color:rgba(0,0,0,0.2);
    align-items:center;
    justify-content:center;
    width:100px;
    height:100px;
    background-color:#3B82F6;
    border-radius: 100px;
    margin:100px;
    margin-top: 20px;
    margin-left: 110px;
}
#start a:link {
      text-decoration: none;
}
